{
  "paserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "ex6": true
  },
  "extends": ["eslint:recommend", "plugin:react/recommended", "airbnb"],
  "plugins": ["import", "react-hooks"],
  "rules": {}
}
